{% extends 'hose/base-2.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!Doctype html>
{% block title %}
ADD PROPERTY
{% endblock %}
{% block content %}
<div class="container">
    <div class= "row ">
         <div class="col-12">
            <form class="form-group" method="POST" enctype="multipart/form-data">
                {% include 'hose/snippet-form.html'  %}
                {{form|crispy}}
                <br>
                <br>
              <input name="Submit Property" id="" class="btn  btn-block btn-primary" type="Submit" value="Submit Property">
         </div>
        
    </div>
</div>
{% endblock  %}